@font-face {
  font-family: "iconfont"; /* Project id 2541347 */
  src: url('iconfont.woff2?t=1620737691086') format('woff2'),
       url('iconfont.woff?t=1620737691086') format('woff'),
       url('iconfont.ttf?t=1620737691086') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-half:before {
  content: "\e6b6" !important;
}

.icon-star-o:before {
  content: "\e681";
}

.icon-star:before {
  content: "\e629";
}

